
// Colors
$base-blue: #0129E3;
$bg-light: #f8f8f8;
$linear-gradient: linear-gradient(135deg, #379FF2 1.53%, #022FE4 90.79%);
$footer-bg: #050B2B;
$header-color: #050B2B;
$base-text: #050B2B;
$muted-text: #747474;
$red: #DE303A;
